# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

**/staticresources/**
!**/staticresources/*.js
.localdevserver
.sfdx
.sf
.vscode

scripts/soql/**
node_modules/

coverage/
**/doc*/*.js
**/doc*/**/*.js
**/!docs/*
*-meta.xml
data/
pmd/

# Exclude project config
sfdx-project.json
dependencies.json

CHANGELOG.md
.prettierignore